html, body {
    margin: 0;
    padding: 0;
    width: 100w;
    height: 100h;
    display:flex;
    justify-content: center;
    align-items: center;
}

  #heading {
    color: chocolate;
    font-family: "Arial";
    font-size: 50
}