body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  position: absolute;
}

#heading {
  position: relative; left: -300px;
  color: chocolate;
  font-family: "Arial";
  font-size: 50
}